/* Global styles */
:root {
    --primary: #6c5ce7;
}

* {
    font-family: "Lato", sans-serif;
}

hr {
    margin-bottom: 0;
}

.navbar {
    min-height: 5rem;
    background: cornflowerblue;
}

.button.is-primary {
    background: var(--primary);
}

.button.is-primary:hover {
    background: hsl(247, 84%, 63%);
}

/* supported currencies */
.image {
    transition: all .2s ease-in-out;
}

.image :hover {
    transform: scale(1.1);
}

/* blocklist */

.blocklist-container {
    overflow-x: auto;
    width: 100%;
}

.blocklist-wrapper {
    min-width: 25rem;
}


.blocklist-height {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    padding: 0.5rem 0px;
    flex-direction: column;
    align-items: flex-start;
    width: 18%;
}

.blocklist-mined-trans {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    padding: 0.5rem 0px;
    flex-direction: column;
    align-items: flex-start;
    width: 25%;
}

.blocklist-size {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    padding: 0.5rem 0px;
    flex-direction: column;
    align-items: flex-start;
    width: 32%;
}

.blocklist-data-container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin-bottom: 0;
}

.blocklist-item {
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.blocklist-item2 {
    -webkit-box-pack: start;
    justify-content: center;
    -webkit-box-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}


/* Helper styles */

.icon-padding-left {
    margin-left: 0.5rem;
    color: #212121;
}

.icon-padding-right {
    margin-right: 0.5rem;
}

/* Featured styles */

.featured {
    padding: 4rem 0;
}
.featured .level {
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgrey;
}
.featured .level-item h2 {
    color: var(--primary);
    font-weight: 600;
}
.featured article .subtitle {
    margin-top: 1rem;
    color: #212121;
}

/* Categories styles */

.category {
    margin-top: 2rem;
}

.category span {
    /*opacity: 0.5;*/
    font-size: 1rem;
    margin-left: 1rem;
    font-weight: 400;
    color: var(--primary);;
}

.category ul {
    list-style: none;
    padding: 0;
}

.category li {
    padding-top: 1rem;
}

.category .category-more {
    font-size: 0.7rem;
    text-transform: uppercase;
    color: var(--primary);
    font-weight: 700;
    margin-top: 1rem;
}

/* Footer styles */

.footer {
    margin-top: 5rem;
    background: white;
    border-top: 1px solid var(--primary);
}
.footer .links {
    display: flex;
    justify-content: center;
}
.footer .links a {
    margin: 0 1rem;
}

.chartdiv {
    width: 100%;
    height: 300px;
    background-color: #161616;
}

.amcharts-graph-g2 .amcharts-graph-stroke {
    stroke-dasharray: 3px 3px;
    stroke-linejoin: round;
    stroke-linecap: round;
    -webkit-animation: am-moving-dashes 1s linear infinite;
    animation: am-moving-dashes 1s linear infinite;
}

@-webkit-keyframes am-moving-dashes {
    100% {
        stroke-dashoffset: -31px;
    }
}
@keyframes am-moving-dashes {
    100% {
        stroke-dashoffset: -31px;
    }
}

.amcharts-graph-column-front {
    -webkit-transition: all .3s .3s ease-out;
    transition: all .3s .3s ease-out;
}
.amcharts-graph-column-front:hover {
    fill: #496375;
    stroke: #496375;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.amcharts-graph-g3 {
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: 500%;
    stroke-dasharray: 0 \0/;    /* fixes IE prob */
    stroke-dashoffset: 0 \0/;   /* fixes IE prob */
    -webkit-animation: am-draw 40s;
    animation: am-draw 40s;
}
@-webkit-keyframes am-draw {
    0% {
        stroke-dashoffset: 500%;
    }
    100% {
        stroke-dashoffset: 0%;
    }
}
@keyframes am-draw {
    0% {
        stroke-dashoffset: 500%;
    }
    100% {
        stroke-dashoffset: 0%;
    }
}

body{
    background-color: #0f0f00;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.is-5 {
    color: aliceblue;
}